body {
    background: #fcfcfc;
    font-family: 'Open Sans', arial, sans-serif;
  }
  
  * {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }
  

.diss {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    color: pink;
    background-image: url("https://en.wikipedia.org/wiki/Rainbow_flag_%28LGBT%29#/media/File:Gay_Pride_Flag.svg");
}




p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 28px;
  }
  
  
  h1, h2 {
    font-family: 'Helvetica Neue';
    color: black;
    margin-bottom: 16px;
  }
  
  h1 {
  
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }