body {
    background: #222222;
    font-family: 'Open Sans', arial, sans-serif;
  }
  
  * {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }
  

.Chart-size {

  margin-left: 30%;
  margin-top: 5%;

  width: 800px;
  height: 800px;
  border: 4px;
  background-color: aliceblue;

  #time_form {
    margin-top: 20px;
    
    width: 230px;
    height: 30px;
    background-color: grey;

  }

  #container { 

    position: relative;
    width: 800px;
    height: 600px;
  
  }
    
}

.dropdown {
  display: inline-block;
}


.dropbtn {
  width: 150px;
  background-color: aquamarine;
  border-color: rgb(56, 100, 100);
  font-size: 20px;

}

.dropdown_menu {
  border: 2px solid rgb(34, 19, 45);
  width:150px;
  max-height: 100px;
  overflow: scroll;
  transition: all 0.25s;
  position: absolute;

}

.dropdown_menu a{
  display: block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: rgb(62, 62, 68);
  line-height: 30px;

}

.dropdown_menu a:hover {
  background-color: #cbcbcb;
}

.hide {
  max-height: 0px;
  opacity: 0%;

}


p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 28px;
  }
  
  
  h1, h2 {
    font-family: 'Helvetica Neue';
    color: black;
    margin-bottom: 16px;
  }
  
  h1 {
  
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }