body {
    background: rgb(0, 39, 75);
    font-family: 'Open Sans', arial, sans-serif;
    margin: 0;
  }
  
  * {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }

  .wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
  
  header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }
  
    
  .background{
    position: fixed;
    padding: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
    opacity: 0.6;
  }
  
  .title {
    font-size: 120px;
    color: white;
    text-shadow: 0 0 10px black;
    font-family: 'Good Times Rg', sans-serif;
    font-weight: light;
    color: rgb(233, 233, 233);
    
  }
  
  section {
    padding-top: 20px;
    background-color: #0e0e0e;
  }



.Main_Body {

  margin: auto;
  position: relative;

  width: 1200px;
  height: 2800px;
  border: 4px;
  background-color: rgb(13, 13, 13);

  #time_form {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    margin-top: 60px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(13, 13, 13);
    display: flex;
    align-content: center;
  }



  #small_heading{
    font-size: 30px;
    color: aquamarine;
    margin-right: 20px;
    margin-left: 10px;

    
   }
  

  #chart_title {
    font-size: 50px;
    font-family:sans-serif;
    font-weight: 100px;
    margin:auto;
    margin-top: 60px;
    color: rgb(50, 150, 150);
    display: flex;
    justify-content: center;


  }

  #container {

    padding-top: 30px;
    position: relative;
    width: 1000px;
    height: 800px;
    margin: auto;
  
  }

  #container2 { 
    padding-top: 50px;
    position: relative;
    width: 1000px;
    height: 800px;
    margin: auto;
  
  }
}

#radio_options {
  margin:auto;
  padding: 10px;
  background-color: rgb(1, 2, 39);
  border-radius: 10px;
}

input[type="radio"] {

  display: inline-block;
  cursor: pointer;
  transform: scale(1);
  opacity: 0.8;
  color: aqua;
}

input[type="radio"]:hover {
  opacity: 1;
}


.dropdown {
  display: inline-block;
}


.dropbtn {
  width: 150px;
  background-color: aquamarine;
  border-color: rgb(56, 100, 100);
  font-size: 20px;

}

.dropdown_menu {
  border: 2px solid rgb(34, 19, 45);
  width:150px;
  max-height: 100px;
  overflow: scroll;
  transition: all 0.25s;
  position: absolute;

}

.dropdown_menu a{
  display: block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: rgb(62, 62, 68);
  line-height: 30px;

}

.dropdown_menu a:hover {
  background-color: #cbcbcb;
}

.hide {
  max-height: 0px;
  opacity: 0%;

}

.image_box {
  width:700px;
  height:700px;
  display: flex; 
  justify-content: center;
  align-items: center;

}

.cute_img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 28px;
  }
  
  
  h1, h2 {
    font-family: 'Helvetica Neue';
    color: black;
    margin-bottom: 16px;
  }
  
  h1 {
  
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }